# Name of the instance
name=test

# Type of the instance (can either be master, slave or servant)
type=master

# Port godo is listening on
port=1234

# Tags of the instance
tags=godo,bash,git,gcc,make

# Wether this instance runs a web interface or not
web=true

# Port of the web interface
webport=5678

# IP or domain names of the slaves along with their port
slaves= 
